.story-box {
    height: 350px;
    border: 2px solid black;
    background-color: #E8E8E8;
}

.story-box-title {
    text-align:center;
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
    border-right-style:none;
}


.story-box-task-start {
    text-align:center;
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
    border-right-style:none;
}

.story-box-task-end {
    text-align:center;
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
    border-right-style:none;
}

.story-box-task-owner {
    text-align:center;
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
    border-right-style:none;
}

.story-box-task-name {
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
    border-right-style:none;
}

.story-box-task-size {
    text-align:center;
    border: 1px solid black;
    border-top-style:none;
    border-bottom-style:none;
 }

.task-odd { background: #FFC }
.task-even { background: #CCC }